<div class="col-xl-7 col-md-9 col-11 mx-auto my-4 p-3" id="info">
    <div class="title text-lead display-5 font-weight-bold p-3">
        Contact Manager
    </div>


    <p>This is a portfolio project to showcase knowledge of:</p>
    <li>i. Angular Components</li>
    <li>ii. Angular Router</li>
    <li>iii Component state management</li>
    <li>iv. Angular Services for global state management</li>
    <li>v. Making asynchronous calls to the Json placeholder fake rest api using "async/await"</li>

</div>
